variable "pm_api_url" {
	default = "https://YOUR.PROMOX.IP.HERE:8006/api2/json"
}

variable "pm_api_token_id" {
	default = "username@pam!aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
}

variable "pm_api_token_secret" {
    default = "ffffffff-gggg-hhhh-iiii-jjjjjjjjjjjj"
}